<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Witaj <%=fname%>,</h2>
        <p>Aby zamówić obiad kliknij w przycisk "Zamów  Obiad"  w menu głównym</p>
        <p>
          Do sprawdzenia co masz zamówione na dzisiaj oraz twoje poprzednie zamówienia uzyj przycisku "Historia"
        </p>
        <p>
          Zamówienia online przez aplikacje mozesz składać każdego dnia do godziny 10.00. 
        </p>
        <p>
          Po godzinie 10.00 skontaktuj się telefonicznie z recepcją nr. tel 326258400
        </p>
        <p>
          Życzymy smacznego !
        </p>
      </div>
    <%- include footer %>