<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
     <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
   <link rel="stylesheet" href="/public/css/style.css" type="text/css"/>
  </head>
<body>
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <img src="/public/img/logo2.png" with="94" height="45" alt="logo" srcset=""></li>
            <li class="active"><a href="/home/new_order2">Zamów Obiad</a></li>            
            <li ><a href="/home/orders2">Historia zamówień</a></li>
            <!-- <li ><a href="/home/new_order2">New order 2 (tylko JS)</a></li> -->
            <li ><a href="/home/new_list">lista (na dzień)</a></li>
            <li ><a href="/home/raport">Raport</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home/logout">Wylogowanie</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

      