<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Sample Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      .select,
      #locale {
        width: 180px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/home/orders">Historia zamówień</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/home/logout">Wylogowanie</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
          
          <h2>Witaj ,</h2>
          <p> Online możesz zamówić lunch na dzisiaj tylko do godziny 10.00, <p id="myClock"> Pozostało ci jeszcze 
            <strong>
              <span class="h">.</span> h:
              <span class="m">.</span> m:
              <span class="s">.</span>s
            </strong>
            do złożeina zamówienia </p><span hidden id="f">.</span>
          </p>
          <p>Wybierz datę na kiedy zamawiasz lunch</p>
          <input type="date" name="lunch_order" id="lunch_order"  /> <p id="mesg" style="color:red; font-size: 14px;"></p>
          <p hidden id="sesa_no1"></p>
          <p>
            Lista twoich aktualnych zamówień:
          </p>
          <div class="select">
            <select class="form-control" id="locale">
              <option value="en-US" >en-US</option>
              <option value="fr-FR">fr-FR</option>
              <option value="pl-PL" selected>pl-PL</option>
            </select>
          </div>          
          <table
            id="table"
            data-locale="pl-PL"
            data-show-refresh="true"
            data-search="true"
            data-height="400"
            data-show-export="true"
            data-click-to-select="true"
            data-pagination="true"
            data-show-pagination-switch="true"
            data-pagination-pre-text="Previous"
            data-pagination-next-text="Next"
            data-page-list="[3, 5, 10, 15, all]"
            data-response-handler="responseHandler"
          >
            <thead>
              <tr>
                <th data-field="id">ID</th>
                <th data-field="Id_sesa_no">SESA</th>
                <th data-field="order_date">Data</th>
                <th data-field="order_supplier_name">Dostawca</th>
                <th data-field="order_no">Numewr dania</th>
                <th data-field="order_name">Danie</th>
                <th data-field="order_price">Cena</th>
              </tr>
            </thead>
          </table>
          <p>
            Masz do wyborów dwóch dostawców Mucha i Opoka, kliknij odpowiednią
            zakładkę
          </p>
          <p hidden id="activeSupplier"></p>
          <p  hidden id="sesa_no1"></p>
          <!-- dynamic tabs -->
          <ul class="nav nav-tabs">
            <li ><a data-toggle="tab" href="#mucha">Mucha</a></li>
            <li><a data-toggle="tab" href="#opoka">Opoka</a></li>
          </ul>

          <div class="tab-content">
            <div id="mucha" class="tab-pane fade in active">
              <h2 hidden id="titleMucha">Mucha</h2>
              <br>
              <p>wybierz danie: </p>

              <p></p> 
              <div class="table-responsive">
               <script> $table.bootstrapTable({ data: table_supplier}); </script> 
              </div>

            </div>
            <div id="opoka" class="tab-pane fade">
              <h2 hidden id="titleOpoka">Opoka</h2>
              <br>
              <p>wybierz danie:</p>
              <p></p>
              <div class="table-responsive">
                <script> $table.bootstrapTable({ data: table_supplier}); </script> 
              </div>
            </div>


      </div> <!-- jumbotron -->
    </div>
    <!-- js -->
    <script src="/public/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css"
    />
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
    <script>
      window.onload = function() {
        var $table = $("#table");
        var $remove = $("#remove");
        var selections = [];
        $("#locale").change(function() {
          $table.bootstrapTable("refreshOptions", {
            locale: $(this).val()
          });
        });

        // Make a request for a user with a given ID
        axios
          .post("/home/new_order2", {
            my_date: document.getElementById("lunch_order").value,
            my_supplier: document.getElementById("activeSupplier").innerText
          })
          .then(function(response) {
            // handle success
            var table_data = response.data.table_data;
            $table.bootstrapTable({ data: table_data,
              columns: [
         {
          field: 'operate',
          title: 'Usuń',
          align: 'center',
          clickToSelect: false,
          events: window.operateEvents,
          formatter: operateFormatter
        }]
     
            });
            // generateDynamicTable();
          })
          .catch(function(error) {
            // handle error
            console.log(error);
          })
          .finally(function() {
            // always executed
          });

        

        function getIdSelections() {
          return $.map($table.bootstrapTable("getSelections"), function(row) {
            return row.id;
          });
        }

        function responseHandler(res) {
          $.each(res.rows, function(i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
          });
          return res;
        }

        function detailFormatter(index, row) {
          var html = [];
          $.each(row, function(key, value) {
            html.push("<p><b>" + key + ":</b> " + value + "</p>");
          });
          return html.join("");
        }

        function operateFormatter(value, row, index) {
          return [
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-trash"></i>',
            "</a>"
          ].join("");
        }

        window.operateEvents = {
          "click .remove": function(e, value, row, index) {
            $table.bootstrapTable("remove", {
              field: "id",
              values: [row.id]
            });
          }
        };

        function totalTextFormatter(data) {
          return "Total";
        }

        function totalNameFormatter(data) {
          return data.length;
        }

        function totalPriceFormatter(data) {
          var field = this.field;
          return (
            "$" +
            data
              .map(function(row) {
                return +row[field].substring(1);
              })
              .reduce(function(sum, i) {
                return sum + i;
              }, 0)
          );
        }
      };

      // Koniec funkcji
    </script>
  </body>
</html>
