<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <title>Sample Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/public/css/style.css" type="text/css"/>
</head>
<body>
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <img src="/public/img/logo2.png" with="94" height="45" alt="logo" srcset="" style="margin-right: 20px;"></li>
            <li class="active"><a href="/home/new_order2">Powtót</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home/logout">Wylogowanie</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <p>Historia twoich zamówień, wybierz zakres raportu:</p>
      <!-- <form action="/home/orders" method="post" name="form_orders"> -->
      Od:<input type="date" name="data_from" id="data_from">
      Do:<input type="date" name="data_to" id="data_to">
      <button type="button" id="btn"  >Zatwierdź</button>
      </p>
      <div class="table-responsive">
        <!-- <table id="table" class="table table-bordered"></table> -->
        <table
            id="table"
            data-locale="pl-PL"
            data-search="true"
            data-height="530"
            data-show-export="true"
            data-pagination="true"
            data-pagination-pre-text="Poprzedni"
            data-pagination-next-text="Następny"
            data-page-list="[3, 5, 10, 15, all]"
            data-response-handler="responseHandler">
            <thead>
              <tr>
                <th data-field="id">ID</th>
                <th data-field="Id_sesa_no">SESA</th>
                <th data-field="first_name">Imię</th>
                <th data-field="last_name">Nazwisko</th>
                <th data-field="order_date">Data</th>
                <th data-field="order_supplier_name">Dostawca</th>
                <th data-field="order_no">Nr. dania</th>
                <th data-field="order_name">Danie</th>
                <th data-field="order_price">Cena</th>
                <th data-field="founding">Dofinansowanie</th>
                <th data-field="deduction">Potrącenie</th>
              </tr>
            </thead>
          </table>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" />
  <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
  <script>
    window.onload = function () {
      var dayBefore;
      var $table = $("#table");

      var now = new Date();
      var day = ("0" + now.getDate()).slice(-2);
      var month = ("0" + (now.getMonth() + 1)).slice(-2);
      var today = now.getFullYear() + "-" + month + "-" + day;
      
      if ((day-5) <= 0){
    		dayBefore = 25;
		    month = month - 1;
		    if (month < 1){
			    month = 12;
		    }
        if (month < 10) {
          month = "0" + month;
        }
      } else {	  
        dayBefore =day-5
      }	  

      if (dayBefore<10){
        dayBefore = "0" + dayBefore
      }
      var before_few_days = now.getFullYear() + "-" + month + "-" + dayBefore;
      console.log(today); 
      document.getElementById("data_to").value = today;
      document.getElementById("data_from").value = before_few_days;
      document.getElementById("btn").addEventListener("click", function () {
         // console.log(" click btn1: ");
         // Make a request for a user with a given ID
         axios.post('/home/orders2', {
            data_from: document.getElementById("data_from").value,
            data_to: document.getElementById("data_to").value
        })
        .then(function (response) {
          // handle success
         var table_data = response.data.message;
         var table_data2 = JSON.stringify(table_data );
            console.log("table_data: " + table_data2 );
            $table.bootstrapTable('destroy');
            $table.bootstrapTable({ data: table_data});
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
        .finally(function () {
          // always executed
        });        
      });

        // Make a request for a user with a given ID
        axios.post('/home/orders2', {
            data_from: document.getElementById("data_from").value,
            data_to: document.getElementById("data_to").value
        })
        .then(function (response) {
          // handle success
         var table_data = response.data.message;
         var table_data2 = JSON.stringify(table_data );
            console.log("table_data: " + table_data2 );
            $table.bootstrapTable('destroy');
            $table.bootstrapTable({ data: table_data});

        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
        .finally(function () {
          // always executed
        });
     } //end of window load

  </script>
</body>
</html>